@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;

}


h2{
    text-align: center;
}
.container {
  width: 300px;
  height: 400x;
  margin: 25px auto;
  
    width: 30rem;margin-top: 50px;text-align: left;
    -moz-box-shadow:    inset 0 0 10px #1f98e9;
    -webkit-box-shadow: inset 0 0 10px #1f98e9;
    box-shadow:         inset 0 0 10px #1f98e9;
    margin-bottom: 100px;
    margin-top: 100px;

}

form {
  padding: 20px;
  background:white;
  color: black;
  border: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 30px;
  line-height: 25px;
  background:whites;
  color: black;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
    text-align: center;
  height: 40px;
  width: 100px;
  line-height: 30px;

  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}
form .error {
  color: red;
}
#mssge{
    color: red;
}
#mssge1{
    color: red;
}